#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.requerido{
    color: red;
    width: 200px;
}